## About this lab
This lab can be used to analyse _Flags_ dataset and answer questions in _Final Project_ quiz. Everything is ready: file `flags.csv` is already in your working dir and `pandas` is already installed. Let's go!

### About Flags dataset
Source: https://archive.ics.uci.edu/ml/datasets/Flags

Creators: Collected primarily from the "Collins Gem Guide to Flags": Collins Publishers (1986). 

Donor: Richard S. Forsyth.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('flags.csv')

In [4]:
df.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [6]:
df['name'].count()

194

In [8]:
df['mainhue'].unique()

array(['green', 'red', 'blue', 'gold', 'white', 'orange', 'black', 'brown'], dtype=object)

In [10]:
df['mainhue'].mode()

0    red
dtype: object

In [12]:
df[df['mainhue']=='blue']['name'].count()

40

In [14]:
nb=df[df['bars']==0]['name'].count()
nc=df[df['circles']==0]['name'].count()
ncnb=df[(df['bars']==0)&(df['circles']==0)]['name'].count()

In [18]:
ncnb,(nb)

(131, 159)

In [21]:
pd.crosstab(df['bars'],df['circles'])

circles    0   1  2  4
bars
0        131  27  0  1
1          6   0  0  0
2          7   0  0  0
3         20   0  1  0
5          1   0  0  0

In [24]:
cc=df.corr()
cc['bars']['crosses']

-0.14443159000991454

In [25]:
m=df.corr(method='pearson')
m['area']['population']

0.51903001255044645